:root {
    --accent-green: #07d200;
}

.dashboard {
    text-align: center;
}

.display {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    padding: 0.5rem;
}

.goal-display {
    
}

.tasklist-display {

}

.daily-task-display {

}

.progress-bar {
    border-radius: 50%;
    height: 1rem;
    width: 80%;
}

.progress-indicator {
    border-radius: 50%;
    height: auto;
    width: 2rem;
}