:root {
    --accent-green: #07d200;
}

.dashboard {
    text-align: center;
}

.goal-display {
    
}

.tasklist-display {

}

.daily-task-display {

}

.progress-bar {
    border-radius: 50%;
    height: 1rem;
    width: 80%;
}

.progress-indicator {
    border-radius: 50%;
    height: auto;
    width: 2rem;
}