:root {
    --accent-green: #07d200;
    --background-black: rgba(0, 0, 0, 0.4);
}

.modal {
    background-color: var(--background-black);
    text-align: center;
}

.editor {
    text-align: center;
}

.editor input {
    max-width: 50ch;
}

.editor button {
    background-color: var(--accent-green);
    border-radius: 1rem;
    color: var(--text-white);
    padding: 0.5rem;
}