:root {
    --accent-green: #07d200;
}

.task-management-page {
    padding: 1rem;
}

.goal-panel {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    padding: 0.5rem;
}

.tasklist-panel {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    padding: 0.5rem;
}

.task-panel {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    padding: 0.5rem;
}