:root {
    --accent-green: #07d200;
    --text-white: rgb(255, 255, 255);
}

.task-management-page {
    padding: 1rem;
}

.task-management-page div {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    padding: 0.5rem;
}

.task-management-page button {
    background-color: var(--accent-green);
    color: var(--text-white);
}